<?php
$gummWpHelper = GummRegistry::get('Helper', 'Wp');

Configure::write('admin.metaboxes', array(
    array(
        'id' => 'gummbase_layout_schema',
        'title' => __('Layout Options', 'gummfw'),
        // 'page' => array('page'),
        'page' => array('page' => array('NOT' => $gummWpHelper->getBlogPageId())),
        'hidden' => 'single',
        'context' => 'side',
        'priority' => 'default',
        'requestAction' => array('admin' => true, 'controller' => 'metaboxes', 'action' => 'layouts_schema'),
    ),
    array(
        'id' => 'gummbase_page_builder',
        'title' => __('Page Builder', 'gummfw'),
        // 'page' => array('page'),
        'page' => array('page' => array('NOT' => $gummWpHelper->getBlogPageId())),
        // 'page' => array('page', 'single' => array('NOT' => 'partner'),),
        'hidden' => 'single',
        'context' => 'normal',
        'priority' => 'high',
        'requestAction' => array('admin' => true, 'controller' => 'metaboxes', 'action' => 'layouts_page_builder'),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_post_media',
        'title' => __('Post Media', 'gummfw'),
        'page' => array('post', 'portfolio', 'gallery', 'video'),
        'context' => 'normal',
        'priority' => 'high',
        'requestAction' => array('controller' => 'metaboxes', 'action' => 'post_media'),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_post_audio',
        'title' => __('Track List', 'gummfw'),
        'page' => array('album', 'member'),
        'context' => 'normal',
        'priority' => 'high',
        'requestAction' => array('controller' => 'metaboxes', 'action' => 'post_tracklist'),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_post_audio',
        'title' => __('Audio Track', 'gummfw'),
        'page' => array('audio'),
        'context' => 'normal',
        'priority' => 'high',
        'requestAction' => array('controller' => 'metaboxes', 'action' => 'post_tracklist'),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_album_artist',
        'title' => __('Album Info', 'gummfw'),
        'page' => array('album'),
        'context' => 'side',
        'priority' => 'high',
        'fields' => array_merge(
            array(
                array(
                'id' => GUMM_THEME_PREFIX . '_artist_name',
                'name' => __('Artist name', 'gummfw'),
                ),
            ),
            GummRegistry::get('Helper', 'Media')->getAudioProvidersFields(),
            GummRegistry::get('Helper', 'Wp')->getDescriptionFieldsForOption('album_meta_fields', 'postmeta.album_fields')
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_page_header_layout',
        'title' => __('Page Header Settings', 'gummfw'),
        // 'page' => array('page', 'single' => array('NOT' => 'partner'),),
        'page' => array('page'),
        'context' => 'side',
        'priority' => 'high',
        'hidden' => 'single',
        'fields' => array(
            // Little trickery, since we don't really have page templates, but WP is awesome
            array(
                'id' => GUMM_THEME_PREFIX . '_page_template',
                'type' => 'hidden',
                'inputAttributes' => array(
                    'id' => 'page_template',
                    'name' => 'page_template',
                    'value' => 'default'
                ),
            ),
            array(
                'id' => GUMM_THEME_PREFIX . '_postmeta.header_settings',
                'type' => 'tabbed-input',
                'default' => 'global',
                'inputOptions' => array(
                    'global' => __('Global Settings', 'gummfw'),
                    'custom' => __('Custom Settings', 'gummfw'),
                ),
                'tabs' => array(
                    'global' => array(
                        'text' => __('Global Theme Options settings will be used.', 'gummfw'),
                    ),
                    'custom' => array(
                        array(
                            'name' => __('Display Header Info Panel', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_info_display',
                            'default' => $gummWpHelper->getOption('header_info_display'),
                            'type' => 'radio',
                            'inputOptions' => array(
                                'true' => __('Enable', 'gummfw'),
                                'false' => __('Disable', 'gummfw'),
                            ),
                        ),
                        array(
                            'name' => __('Background Player Controls', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_info_display_bg_player',
                            'default' => $gummWpHelper->getOption('header_info_display_bg_player'),
                            'type' => 'radio',
                            'inputOptions' => array(
                                'true' => __('Enable', 'gummfw'),
                                'false' => __('Disable', 'gummfw'),
                            ),
                        ),
                        array(
                            'name' => __('Background Player Settings', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.background_player_settings',
                            'type' => 'tabbed-input',
                            'default' => 'global',
                            'inputOptions' => array(
                                'global' => __('Global Settings', 'gummfw'),
                                'custom' => __('Custom Settings', 'gummfw'),
                            ),
                            'tabs' => array(
                                'global' => array(
                                    'text' => __('Global Theme Options settings will be used.', 'gummfw'),
                                ),
                                'custom' => array(
                                    array(
                                        'name' => __('Background Player Media', 'gummfw'),
                                        'id' => GUMM_THEME_PREFIX . '_postmeta.background_player',
                                        'type' => 'media',
                                        'inputSettings' => array(
                                            'buttons' => 'media',
                                        ),
                                        'default' => $gummWpHelper->getOption('background_player'),
                                    ),
                                    array(
                                        'name' => __('Background Player Autoplay', 'gummfw'),
                                        'id' => GUMM_THEME_PREFIX . '_postmeta.background_player_autoplay',
                                        'type' => 'number',
                                        'inputSettings' => array(
                                            'slider' => array(
                                                'min' => '0', 
                                                'step' => '0.5',
                                                'max' => '60', 
                                                'numberType' => 's',
                                            ),
                                        ),
                                        'default' => $gummWpHelper->getOption('background_player_autoplay'),
                                    ),
                                    array(
                                        'name' => __('Background Player Full Screen', 'gummfw'),
                                        'id' => GUMM_THEME_PREFIX . '_postmeta.background_player_full_screen',
                                        'type' => 'radio',
                                        'inputOptions' => array(
                                            'true' => __('Enable', 'gummfw'),
                                            'false' => __('Disable', 'gummfw'),
                                        ),
                                        'default' => $gummWpHelper->getOption('background_player_full_screen'),
                                    ),
                                ),
                            ),
                        ),
                    ),
                ),
            ),
        ),
    ),
    // array(
    //     'id' => GUMM_THEME_PREFIX . '_page_subheadline',
    //     'title' => __('Page Heading Settings'),
    //     'page' => array('page', 'single' => array('NOT' => 'partner'),),
    //     'context' => 'side',
    //     'priority' => 'high',
    //     'hidden' => 'single',
    //     'fields' => array(
    //         array(
    //             'name' => __('Show Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Include Search Input in Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_search_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Include Social Bar in Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_social_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Include Breadcrumbs in Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_breadcrumbs_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Page Subheading', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.subheading',
    //             'type' => 'text',
    //         ),
    //     ),
    // ),
    array(
        'id' => GUMM_THEME_PREFIX . '_testimonial_author',
        'title' => __('Testimonial Author', 'gummfw'),
        'page' => 'testimonial',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Author', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.author',
                'type' => 'text',
            ),
            array(
                'name' => __('Organisation', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.organisation',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_partner_meta',
        'title' => __('Partner Meta', 'gummfw'),
        'page' => 'partner',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Parnter url', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.url',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_event_info_metabox',
        'title' => __('Event Info'),
        'page' => 'event',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Event rating', 'gummfw'),
                'desc' => '',
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_rating',
                'type' => 'rating',
                'boundToOption' => 'event.display_rating'
            ),
            array(
                'name' => __('Event start date and time', 'gummfw'),
                'desc' => '',
                'id' => GUMM_THEME_PREFIX . '_event_start_time',
                'type' => 'date',
                'default' => date('Y-m-d') . ' 20:00',
            ),
            array(
                'name' => __('Event end date and time', 'gummfw'),
                'desc' => '',
                'id' => GUMM_THEME_PREFIX . '_event_end_time',
                'type' => 'date',
                'default' => date('Y-m-d') . ' 00:30',
            ),
            // array(
            //     'name' => __('Recurrence', 'gummfw'),
            //     'id' => GUMM_THEME_PREFIX . '_recurrence',
            //     'type' => 'select',
            //     'inputOptions' => array(
            //         'none' => __('none', 'gummfw'),
            //         'daily' => __('daily', 'gummfw'),
            //         'weekly' => __('weekly', 'gummfw'),
            //         'monthly' => __('monthly', 'gummfw'),
            //         'yearly' => __('yearly', 'gummfw'),
            //     ),
            // ),
            array(
                'name'  => __('Event Status', 'gummfw'),
                'id'    => GUMM_THEME_PREFIX . '_postmeta.event_status',
                'type'  => 'select',
                'inputOptions' => array(
                    'active'    => __('Active', 'gummfw'),
                    'cancelled' => __('Cancelled', 'gummfw'),
                    'soldout'   => __('Sold Out', 'gummfw'),
                ),
                'default' => 'active'
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_event_location_metabox',
        'title' => __('Event Location', 'gummfw'),
        'page' => 'event',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Event location', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_location',
                'type' => 'text',
            ),
            array(
                'name' => __('Link location to Google Maps', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_location_link_to_gmap',
                'type' => 'radio',
                'inputOptions' => array(
                    'true' => __('Enable', 'gummfw'),
                    'false' => __('Disable', 'gummfw'),
                ),
                'default' => 'true'
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_event_links_metabox',
        'title' => __('Event Links', 'gummfw'),
        'page' => 'event',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Buy Tickets Link', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_buy_tickets_link',
                'type' => 'text',
            ),
            array(
                'name' => __('External Info Link', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_external_info_link',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . 'staff_social',
        'title' => __('Social Networks', 'gummfw'),
        'page' => 'member',
        'context' => 'side',
        'priority' => 'default',
        'fields' => array(
            array(
                'name' => __('Twitter url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.twitter_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Facebook url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.facebook_url',
                'type' => 'text',
            ),
            array(
                'name' => __('YouTube url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.youtube_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Google+ url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.google-plus_url',
                'type' => 'text',
            ),
            array(
                'name' => __('LinkedIn url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.linkedin_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Viadeo url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.viadeo_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Dribbble url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.dribbble_url',
                'type' => 'text',
            ),
            array(
                'name' => __('GitHub url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.github_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Pinterest url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.pinterest_url',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_staff_meta_metabox',
        'title' => __('Member Info', 'gummfw'),
        'page' => 'member',
        'context' => 'normal',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Date of birth / display date', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.date_of_birth',
                'type' => 'date',
                'inputSettings' => array(
                    'time' => false
                ),
            ),
            array(
                'name' => __('Location', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.location',
                'type' => 'text',
            ),
            array(
                'name' => __('website', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.wesite',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_staff_meta_rh',
        'title' => __('Informations', 'gummfw'),
        'page' => 'member',
        'context' => 'normal',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Label 1', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.label1',
                'type' => 'text',
            ),
            array(
                'name' => __('Description 1', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.description1',
                'type' => 'textarea',
            ),
            array(
                'name' => __('Label 2', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.label2',
                'type' => 'text',
            ),
            array(
                'name' => __('Description 2', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.description2',
                'type' => 'textarea',
            ),
            array(
                'name' => __('Label 3', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.label3',
                'type' => 'text',
            ),
            array(
                'name' => __('Description 3', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.description3',
                'type' => 'textarea',
            ),
        ),
    ),
    // array(
    //     'id' => GUMM_THEME_PREFIX . '_post_background_metabox',
    //     'title' => __('Page Background', 'gummfw'),
    //     'page' => array('page'),
    //     'context' => 'normal',
    //     'priority' => 'high',
    //     'hidden' => true,
    //     'requestAction' => array('controller' => 'Metaboxes', 'action' => 'admin_edit_background'),
    // ),
    // array(
    //     'id' => GUMM_THEME_PREFIX . '_post_heading_background_metabox',
    //     'title' => __('Page Header Background', 'gummfw'),
    //     'page' => array('page'),
    //     'context' => 'normal',
    //     'priority' => 'high',
    //     'hidden' => true,
    //     'inputStyleSelector' => 'page-heading-wrap',
    //     'contentSelector' => false,
    //     'requestAction' => array('controller' => 'Metaboxes', 'action' => 'admin_edit_background'),
    // ),
    array(
        'id' => GUMM_THEME_PREFIX . 'post_featured_image_display_metabox',
        'title' => __('Featured Image Display', 'gummfw'),
        'page' => array('post', 'portfolio'),
        'context' => 'side',
        'priority' => 'default',
        'fields' => array(
            array(
                'name' => __('Display featured image on single post\'s views?', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.featured_image_single_display',
                'type' => 'checkbox',
                'default' => 'true'
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . 'portfolio_info_metabox',
        'title' => __('Portfolio info', 'gummfw'),
        'page' => array('portfolio'),
        'context' => 'normal',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Project Link Title', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_link_title',
                'type' => 'text',
                'default' => __('View Project', 'gummfw'),
            ),
            array(
                'name' => __('Project Link Url', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_link_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Project Client', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_client',
                'type' => 'text',
            ),
            array(
                'name' => __('Project Date', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_date',
                'type' => 'text',
            ),
        ),
    ),
));

?>